# Example legacy settings.cfg for `local81 init --import`

log_hosts=app01,app02
log_dest_dir=.local81/pulled-logs
jboss_log_path=/opt/jboss/standalone/log/*.log
apache_log_path=/var/log/httpd/*log
engin_log_path=/opt/engin/logs/*.log
smartxfr_log_path=/opt/smartxfr/logs/*.log

[main]
source_dir=./dist
target_dir=/srv/myapp
servers=app01,app02
rsync_opts=-az --delete
backup=true
backup_suffix=.bkp

[config]
source_dir=./config
target_dir=/srv/myapp/config
servers=app01,app02
rsync_opts=-az
backup=true
backup_suffix=.bkp
